
.Banner .Contenedor {
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.Banner .Contenedor .Banner__Imagen {
	aspect-ratio : 1 / 1;
        background-image: url(../IMG/profile-pic_solid.webp);
        background-size:contain;
		background-repeat: no-repeat;
    background-position: center center; 
    
}

.Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (min-width:0px) {

    .Banner .Contenedor {
        flex-direction: column-reverse;
        margin-top: 0rem
    }

    .Banner__Descripcion{
        width: 100%;
    }

    .Banner .Contenedor .Banner__Descripcion h1 {
        font-size: 25rem;
        padding-bottom: 10rem;
        line-height: 28rem;
    }


    .Banner .Contenedor .Banner__Imagen {
        width: 50%;
    }

    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes {
        font-size: 14rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    }

    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li {
        display: flex;
        margin: 15rem 0 5rem 0;
        width: 35%;
    }
    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li a i{
        font-size: 16rem;
    }
}

@media (max-width:500px) {
    .Banner .Contenedor .Banner__Descripcion h1 {
        font-size: 22rem !important
    }
}

@media screen and (min-width:800px) {

    .Banner .Contenedor {
        flex-direction: row;
    margin: 50rem 0 50rem 0;
    }
    .Banner .Contenedor .Banner__Descripcion {
        width: 65%;
    }

    .Banner .Contenedor .Banner__Descripcion h1 {
    font-size: 28rem;
    margin-block-end: 5rem;
    padding-bottom: 10rem;
    line-height: 60rem;
    width: 100%;
    }
    .Banner .Contenedor .Banner__Imagen {
        width: 30%;
    }

    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes {
        font-size: 17rem;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li {
        display: flex;
        margin-right: 50rem;
    }
    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li a i{
        font-size: 19rem;
    }
}
@media screen and (min-width:1024px) {
    .Banner .Contenedor .Banner__Imagen {
        width: 35%;

    }
    .Banner .Contenedor .Banner__Descripcion {
        width: 55%;
    }
    .Banner .Contenedor .Banner__Descripcion h1 {
    font-size: 32rem;
    }
    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes {
        font-size: 20rem;
    }

    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li {
        display: flex;
        margin: 0rem;
    }
    .Banner .Contenedor .Banner__Descripcion .Banner__Descripcion__Redes li a i{
        font-size: 22rem;
    }
}