.Contacto .Contenedor .Contacto__Formulario {
    display: grid;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.Contacto__Formulario__Input {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
}
.Contacto__Formulario__Input .Contacto__Formulario__Label {
    position: absolute;
    top: 20px;
    left: 12px;
    color: rgba(10, 10, 10 0.5);
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}
.Contacto__Formulario__Input .Contacto__Formulario__Focus-BG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}
.Contacto__Formulario__Input input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    padding: 16px 12px 0 12px;
    height: 56px;
    background: rgba(255, 255, 255);
    box-shadow: inset 0 -1px 0 rgba(10, 10, 10 0.3);
    color: #000;
    transition: all 0.15s ease;
    margin-bottom: 10px;
}
.Contacto__Formulario__Input input:hover {
    background: rgba(10, 10, 10 0.04);
    box-shadow: inset 0 -1px 0 rgba(10, 10, 10 0.5);
}
.Contacto__Formulario__Input input:not(:placeholder-shown)+.Contacto__Formulario__Label {
    color: rgba(10, 10, 10 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.Contacto__Formulario__Input input:focus {
    background: rgba(10, 10, 10 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #0077ff;
}
.Contacto__Formulario__Input input:focus+.Contacto__Formulario__Label {
    color: #0077ff;
    transform: translate3d(0, -12px, 0) scale(0.75);
}
.Contacto__Formulario__Input input:focus+.Contacto__Formulario__Label+.Contacto__Formulario__Focus-BG {
    transform: scaleX(1);
    transition: all 0.1s ease;
}
@media (min-width:0px) {
    .Contacto {
        margin: 20px;
   }
    .Contacto .Contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;
   }
    .Contacto .Contenedor .Contacto__Telefono {
        font-display: none;
   }
    .Contacto .Contenedor .Contacto__Formulario {
        display: grid;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        width: 100%;
   }
    .Contacto__Formulario__Input {
        font-size: 16px;
        font-weight: 500;
   }
    .Contacto__Formulario__Input input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
   }
    #Send{
        width: 100%;
        margin: 0;
   }
}
@media screen and (min-width:800px) {
    .Contacto {
        margin: 100px;
   }
    .Contacto .Contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;
   }
    .Contacto .Contenedor .Contacto__Formulario {
        display: grid;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        width: 100%;
   }
    .Contacto__Formulario__Input {
        font-size: 16px;
        font-weight: 500;
   }
    .Contacto__Formulario__Input input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
   }
    #Send{
        width: 100%;
        margin: 0;
   }
}
@media screen and (min-width:1024px) {
    .Contacto {
        margin: 100px;
   }
    .Contacto .Contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;
   }
    .Contacto .Contenedor .Contacto__Telefono {
        width: 40%;
        height: 400px;
        display: block;
        background-image: url(../IMG/Contact.webp);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center center;
   }
    .Contacto .Contenedor .Contacto__Formulario {
        display: grid;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        width: 60%;
   }
    .Contacto__Formulario__Input {
        font-size: 16px;
        font-weight: 500;
   }
    .Contacto__Formulario__Input input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
   }
}
