@media screen and (min-width:1020px), print {

    .principal,.Header,.Banner,.SobreMi,.Skills,.Hobbies,.Escuelas,.Experiencias,.Contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Contenedor{
        width: 75%;        
    }
}
