@media screen and (min-width:1020px),
print {

    .principal,
    .Header,
    .Banner,
    .SobreMi,
    .Skills,
    .Hobbies,
    .Escuelas,
    .Experiencias,
    .Contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }

    .Contenedor {
        width: 70%;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-block-end: 5px;
        padding-bottom: 10px;
        line-height: 42px;
        width: 100%;
    }

    p {
        margin-block-start: 4px;
        margin-block-end: 4px;
        padding-bottom: 10px;
        line-height: 30px;
        font-size: 20px;
    }

    h2 {
        font-size: 28px;
        font-weight: bolder;
    }

    .Header .Contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 28px;
    }

    .Header .Contenedor .Nombre {
        font-size: 24px;
    }

    .Header .Contenedor .Menu .Menu-Lista {
        display: flex;
        font-size: 22px;
    }

    .Header .Contenedor .Menu .Menu-Lista li:last-child {
        font-weight: bold;
    }

    .Header .Contenedor .Menu .Menu-Lista li:not(:first-child) {
        border-left: solid 2px #aaa;
    }

    .Banner .Contenedor .Banner-Izquierda {
        width: 40%;

    }

    .Banner .Contenedor .Banner-Derecha {
        width: 55%;
    }


    .Banner .Contenedor .Banner-Izquierda img {
        width: 85%;
    }

    .Banner .Contenedor .Banner-Derecha .Redes {
        font-size: 20px;
    }

    .Banner .Contenedor .Banner-Derecha .Redes li {
        display: flex;
        margin-right: 50px;
    }

    .titulo {
        font-size: 21px;
    }

    .subtitulo {
        font-size: 19px;
    }

    .SobreMi .Contenedor {
        margin: 50px 0 50px 0;
    }

    .SobreMi .Contenedor .Derecha {
        width: 75%;
    }

    .SobreMi .Contenedor img {
        width: 200px;
        margin-bottom: 50px;
    }


    .Cuadricula div {
        width: 15%;
        height: 200px;
    }


    .Escuelas .Contenedor .Lista-Escuelas .Escuela {
        width: 30%;
    }

    .Escuelas .Contenedor .Lista-Escuelas .Escuela .Imagen img {
        width: 75%;
    }

    .Experiencias .Contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 50px 0;
    }

    .Experiencias .Contenedor .Experiencia {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 15px 0;
        width: 100%;
    }

    .Experiencias .Contenedor .Experiencia .Imagen-XP {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Experiencias .Contenedor .Experiencia .Imagen-XP Img {
        width: 90%;
        margin: 50px 0 50px 0;
        border-radius: 10px;
    }

    .Experiencias .Contenedor .Experiencia .Descripcion {
        width: 35%;
        text-align: center;
    }

    .Experiencias .Contenedor .Experiencia .Descripcion label {
        width: 100%;
        margin: 5px 0 5px 0;
        display: block;
    }

    .Demo {
        font-size: 17px;
    }

    .Repositorio {
        font-size: 17px;
    }

    .Contacto {
        margin: 100px;
    }

    .Contacto .Contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;
    }

    .Contacto .Contenedor .Telefono {
        width: 40%;
    }

    .Contacto .Contenedor .Telefono img {
        width: 80%;
        margin-top: 50px;
    }

    .Contacto .Contenedor .Formulario {
        display: grid;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        width: 60%;
    }

    .inp {
        font-size: 16px;
        font-weight: 500;
    }

    .inp input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
    }
}