.Header {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 2;
}

.Header .Contenedor .Nombre {
    margin: 15px 0 15px 0;
}

.Header .Contenedor .Menu .Menu__Lista li {
    margin-left: 2rem;
}

.Header .Contenedor .Menu .Menu__Lista li {
    padding-left: 5rem;
    margin-left: 2rem;
}

.Header .Contenedor .Menu .Menu__Lista li a {
    padding-right: 5rem;
    margin-right: 2rem;
}

.Header .Contenedor .Menu .Menu__Lista li a:hover {
    color: #2A7AE4;
}

.Header .Contenedor .Menu .Menu__Lista li a:active {
    position: relative;
    top: 1rem;
}

.active {
    color: #2A7AE4 !important;
}

@media (min-width:0px) {
    .Header .Contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22rem;
    }

    .Header .Contenedor .Nombre {
        font-size: 18rem;
    }

    .Header .Contenedor .Menu .Menu__Lista {
        display: flex;
        font-size: 16rem;
    }

    .Header .Contenedor .Menu .Menu__Lista li:not(:last-child) {
        display: none;
    }
}

@media (max-width:500px) {
    .Header .Contenedor .Nombre {
        font-size: 16px !important
    }

    .Header .Contenedor .Menu .Menu__Lista {
        font-size: 14px !important
    }
}

@media screen and (min-width:800px) {
    .Header .Contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 25rem;
    }

    .Header .Contenedor .Nombre {
        font-size: 21rem;
    }

    .Header .Contenedor .Menu .Menu__Lista {
        display: flex;
        font-size: 19rem;
    }

    .Header .Contenedor .Menu .Menu__Lista li:last-child {
        font-weight: bold;
    }

    .Header .Contenedor .Menu .Menu__Lista li:not(:last-child) {
        display: none;
    }
}

@media screen and (min-width:1024px) {
    .Header .Contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 28rem;
    }

    .Header .Contenedor .Nombre {
        font-size: 24rem;
    }

    .Header .Contenedor .Menu .Menu__Lista {
        display: flex;
        font-size: 22rem;
    }

    .Header .Contenedor .Menu .Menu__Lista li:last-child {
        font-weight: bold;
    }

    .Header .Contenedor .Menu .Menu__Lista li:not(:first-child) {
        border-left: solid 2px #aaa;
    }

    .Header .Contenedor .Menu .Menu__Lista li:not(:last-child) {
        display: block;
    }
}