@media (max-width:500px) {

    .Banner .Contenedor .Banner-Derecha h1 {
        font-size: 22px;
    }

    .Demo {
        margin: 0 !important
    }

    .Repositorio {
        margin: 0 !important
    }
}
