@media (min-width:0px) {
    .Sobre .Contenedor {
        margin: 50px 0 50px 0;
   }
    .Sobre .Contenedor .Sobre__Descripcion {
        width: 95%;
   }
    .Sobre .Contenedor img {
        width: 150px;
   }
}
@media screen and (min-width:800px) {
    .titulo {
        font-size: 18px;
   }
    .subtitulo {
        font-size: 16px;
   }
    .Sobre .Contenedor {
        margin: 50px 0 50px 0;
   }
    .Sobre .Contenedor .Sobre__Descripcion {
        width: 95%;
   }
    .Sobre .Contenedor img {
        width: 150px;
   }
}
@media screen and (min-width:1024px) {
    .Sobre .Contenedor {
        margin: 50px 0 50px 0;
   }
    .Sobre .Contenedor .Sobre__Descripcion {
        width: 75%;
   }
    .Sobre .Contenedor img {
        width: 200px;
        margin-bottom: 50px;
   }
}
