@media (min-width:800px) and (max-width:1250px) {

    .principal,
    .Header,
    .Banner,
    .SobreMi,
    .Skills,
    .Hobbies,
    .Escuelas,
    .Experiencias,
    .Contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 25px;
    }

    .Contenedor {
        width: 95%;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-block-end: 5px;
        padding-bottom: 10px;
        line-height: 60px;
        width: 100%;
    }

    p {
        margin-block-start: 4px;
        margin-block-end: 4px;
        padding-bottom: 10px;
        line-height: 27px;
        font-size: 17px;
    }

    h2 {
        font-size: 25px;
        font-weight: bolder;
    }

    .Header .Contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 25px;
    }
    .Header .Contenedor .Nombre {
        font-size: 21px;
    }
    .Header .Contenedor .Menu .Menu-Lista {
        display: flex;
        font-size: 19px;
    }

    .Header .Contenedor .Menu .Menu-Lista li:last-child {
        font-weight: bold;
    }
    .Header .Contenedor .Menu .Menu-Lista li:not(:last-child) {
        display: none;
    }

    .Banner .Contenedor .Banner-Derecha {
        width: 65%;
    }

    .Banner .Contenedor .Banner-Derecha h1 {
        font-size: 28px;
    }
    .Banner .Contenedor .Banner-Izquierda {
        width: 35%;
    }
    .Banner .Contenedor .Banner-Izquierda img {
        width: 85%;
    }

    .Banner .Contenedor .Banner-Derecha .Redes {
        font-size: 17px;
    }

    .Banner .Contenedor .Banner-Derecha .Redes li {
        display: flex;
        margin-right: 50px;
    }

    .titulo {
        font-size: 18px;
    }

    .subtitulo {
        font-size: 16px;
    }

    .SobreMi .Contenedor {
        margin: 50px 0 50px 0;
    }

    .SobreMi .Contenedor .Derecha {
        width: 95%;
    }

    .SobreMi .Contenedor img {
        width: 150px;
    }


    .Cuadricula {
        flex-wrap: wrap;
    }

    .Cuadricula div {
        width: 30%;
        height: 150px;
    }

    .Cuadricula div label {
        font-weight: bold;
    }
    .Escuelas .Contenedor .Lista-Escuelas .Escuela {
        width: 30%;
    }
    .Escuelas .Contenedor .Lista-Escuelas .Escuela .Imagen img {
        width: 75%;
    }

    .Experiencias .Contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0 50px 0;
    }

    .Experiencias .Contenedor .Experiencia {
        margin: 15px 0 15px 0;
        width: 100%;
        padding-bottom: 15px;
        border: solid 1px #ddd;
        -webkit-box-shadow: 0 0 3px #bbb;
        box-shadow: 0 0 3px #bbb;
        padding: 10px;
        border-radius: 10px;
    }

    .Experiencias .Contenedor .Non {
        display: flex;
        flex-direction: column;
    }

    .Experiencias .Contenedor .Par {
        display: flex;
        flex-direction: column-reverse;
    }

    .Experiencias .Contenedor .Experiencia .Imagen-XP {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Experiencias .Contenedor .Experiencia .Imagen-XP Img {
        width: 90%;
        margin: 50px 0 50px 0;
        border-radius: 10px;
    }

    .Experiencias .Contenedor .Experiencia .Descripcion {
        margin-top: 10px;
    }

    .Experiencias .Contenedor .Experiencia .Descripcion label {
        width: 100%;
        margin: 5px 0 5px 0;
        display: block;
    }

    .Demo {
        width: 30%;
        margin-left: 5%;
        font-size: 14px;
    }

    .Repositorio {
        width: 30%;
        margin-right: 5%;
        font-size: 14px;
    }

    .Contacto {
        margin: 100px;
    }

    .Contacto .Contenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 100px 0;
    }


    .Contacto .Contenedor .Telefono {
        font-display: none;
    }

    .Contacto .Contenedor .Telefono img {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .Contacto .Contenedor .Formulario {
        display: grid;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        width: 100%;
    }
    .inp {
        font-size: 16px;
        font-weight: 500;
    }

    .inp input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
    }
    #Send{
            width: 100%;
            margin: 0;
    }
}
